USE [master]
GO
/****** Object:  Database [AirportSoport]    Script Date: 8/21/2024 1:28:48 PM ******/
CREATE DATABASE [AirportSoport]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirportSoport', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AirportSoport.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirportSoport_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AirportSoport_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirportSoport].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirportSoport]
GO
/****** Object:  Table [dbo].[Airplane]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airplane](
	[Registration_Number] [int] NOT NULL,
	[Begin_of_Number] [date] NOT NULL,
	[Statuss] [varchar](50) NOT NULL,
	[Id_PlaneModel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Registration_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Airport]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Airport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [varchar](50) NOT NULL,
	[Id_City] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvailableSeat]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableSeat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Fligth] [int] NOT NULL,
	[Id_Seat] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [varchar](30) NOT NULL,
	[Id_Country] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Namee] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_of_Redemption] [date] NOT NULL,
	[Class] [varchar](20) NOT NULL,
	[Standbyy] [char](2) NOT NULL,
	[Meal_Code] [varchar](5) NOT NULL,
	[Id_Ticket] [int] NOT NULL,
	[Id_Flight] [int] NOT NULL,
	[Id_Available] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Ci] [int] NOT NULL,
	[Date_of_Birth] [date] NOT NULL,
	[Namee] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ci] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Flight]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Flight](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Boarding_Time] [time](7) NOT NULL,
	[Flight_Date] [date] NOT NULL,
	[Gate] [int] NOT NULL,
	[Check_in_Counter] [varchar](20) NOT NULL,
	[Id_FlightNumber] [int] NOT NULL,
	[Id_Category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlightNumber]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlightNumber](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Departure_Time] [time](7) NOT NULL,
	[Typee] [varchar](50) NOT NULL,
	[Airline] [varchar](100) NOT NULL,
	[Id_Start] [int] NOT NULL,
	[Id_Goal] [int] NOT NULL,
	[Id_Category] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FrequentFiyerCard]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FrequentFiyerCard](
	[FFC_Number] [int] NOT NULL,
	[Miles] [int] NOT NULL,
	[Meal_Code] [varchar](10) NOT NULL,
	[Ci_Customer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FFC_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pasaport]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pasaport](
	[Pasoport_Number] [int] NOT NULL,
	[Country_of_issue] [int] NULL,
	[expiration_date] [date] NOT NULL,
	[Issue_Date] [date] NOT NULL,
	[Ci_Custumer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pasoport_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PiecesOfLuggage]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PiecesOfLuggage](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[Weightt] [decimal](18, 0) NOT NULL,
	[Id_Coupon] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaneModel]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaneModel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descriptionn] [varchar](50) NOT NULL,
	[Graphic] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Locationn] [varchar](50) NOT NULL,
	[Id_PlaneModel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 8/21/2024 1:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticketing_Code] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Ci_Customer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticketing_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Airplane] ([Registration_Number], [Begin_of_Number], [Statuss], [Id_PlaneModel]) VALUES (3001, CAST(N'2020-01-15' AS Date), N'Active', 1)
INSERT [dbo].[Airplane] ([Registration_Number], [Begin_of_Number], [Statuss], [Id_PlaneModel]) VALUES (3002, CAST(N'2020-03-22' AS Date), N'Active', 2)
INSERT [dbo].[Airplane] ([Registration_Number], [Begin_of_Number], [Statuss], [Id_PlaneModel]) VALUES (3003, CAST(N'2019-05-30' AS Date), N'Inactive', 3)
GO
SET IDENTITY_INSERT [dbo].[Airport] ON 

INSERT [dbo].[Airport] ([Id], [Namee], [Id_City]) VALUES (1, N'John F. Kennedy International Airport', 1)
INSERT [dbo].[Airport] ([Id], [Namee], [Id_City]) VALUES (2, N'Toronto Pearson International Airport', 2)
INSERT [dbo].[Airport] ([Id], [Namee], [Id_City]) VALUES (3, N'Benito Juarez International Airport', 3)
SET IDENTITY_INSERT [dbo].[Airport] OFF
GO
SET IDENTITY_INSERT [dbo].[AvailableSeat] ON 

INSERT [dbo].[AvailableSeat] ([Id], [Id_Fligth], [Id_Seat]) VALUES (1, 1, 1)
INSERT [dbo].[AvailableSeat] ([Id], [Id_Fligth], [Id_Seat]) VALUES (2, 1, 2)
INSERT [dbo].[AvailableSeat] ([Id], [Id_Fligth], [Id_Seat]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[AvailableSeat] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Namee]) VALUES (1, N'Economy')
INSERT [dbo].[Category] ([Id], [Namee]) VALUES (2, N'Business')
INSERT [dbo].[Category] ([Id], [Namee]) VALUES (3, N'First Class')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Namee], [Id_Country]) VALUES (1, N'New York', 1)
INSERT [dbo].[City] ([Id], [Namee], [Id_Country]) VALUES (2, N'Toronto', 2)
INSERT [dbo].[City] ([Id], [Namee], [Id_Country]) VALUES (3, N'Mexico City', 3)
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [Namee]) VALUES (1, N'USA')
INSERT [dbo].[Country] ([Id], [Namee]) VALUES (2, N'Canada')
INSERT [dbo].[Country] ([Id], [Namee]) VALUES (3, N'Mexico')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([Id], [Date_of_Redemption], [Class], [Standbyy], [Meal_Code], [Id_Ticket], [Id_Flight], [Id_Available]) VALUES (1, CAST(N'2024-08-22' AS Date), N'Economy', N'NO', N'VEG', 7001, 1, 1)
INSERT [dbo].[Coupon] ([Id], [Date_of_Redemption], [Class], [Standbyy], [Meal_Code], [Id_Ticket], [Id_Flight], [Id_Available]) VALUES (2, CAST(N'2024-08-23' AS Date), N'Business', N'NO', N'NON', 7002, 2, 3)
INSERT [dbo].[Coupon] ([Id], [Date_of_Redemption], [Class], [Standbyy], [Meal_Code], [Id_Ticket], [Id_Flight], [Id_Available]) VALUES (3, CAST(N'2024-08-24' AS Date), N'First Class', N'NO', N'VEG', 7003, 3, 5)
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
INSERT [dbo].[Customer] ([Ci], [Date_of_Birth], [Namee]) VALUES (1001, CAST(N'1980-05-15' AS Date), N'John Doe')
INSERT [dbo].[Customer] ([Ci], [Date_of_Birth], [Namee]) VALUES (1002, CAST(N'1985-09-22' AS Date), N'Jane Smith')
INSERT [dbo].[Customer] ([Ci], [Date_of_Birth], [Namee]) VALUES (1003, CAST(N'1990-12-10' AS Date), N'Carlos Garcia')
GO
SET IDENTITY_INSERT [dbo].[Flight] ON 

INSERT [dbo].[Flight] ([Id], [Boarding_Time], [Flight_Date], [Gate], [Check_in_Counter], [Id_FlightNumber], [Id_Category]) VALUES (1, CAST(N'09:30:00' AS Time), CAST(N'2024-08-21' AS Date), 1, N'A01', 1, 1)
INSERT [dbo].[Flight] ([Id], [Boarding_Time], [Flight_Date], [Gate], [Check_in_Counter], [Id_FlightNumber], [Id_Category]) VALUES (2, CAST(N'11:30:00' AS Time), CAST(N'2024-08-21' AS Date), 2, N'B02', 2, 2)
INSERT [dbo].[Flight] ([Id], [Boarding_Time], [Flight_Date], [Gate], [Check_in_Counter], [Id_FlightNumber], [Id_Category]) VALUES (3, CAST(N'14:30:00' AS Time), CAST(N'2024-08-21' AS Date), 3, N'C03', 3, 3)
SET IDENTITY_INSERT [dbo].[Flight] OFF
GO
SET IDENTITY_INSERT [dbo].[FlightNumber] ON 

INSERT [dbo].[FlightNumber] ([Id], [Departure_Time], [Typee], [Airline], [Id_Start], [Id_Goal], [Id_Category]) VALUES (1, CAST(N'10:00:00' AS Time), N'Domestic', N'American Airlines', 1, 2, 1)
INSERT [dbo].[FlightNumber] ([Id], [Departure_Time], [Typee], [Airline], [Id_Start], [Id_Goal], [Id_Category]) VALUES (2, CAST(N'12:00:00' AS Time), N'International', N'Air Canada', 2, 3, 2)
INSERT [dbo].[FlightNumber] ([Id], [Departure_Time], [Typee], [Airline], [Id_Start], [Id_Goal], [Id_Category]) VALUES (3, CAST(N'15:00:00' AS Time), N'Domestic', N'Aeromexico', 3, 4, 3)
SET IDENTITY_INSERT [dbo].[FlightNumber] OFF
GO
INSERT [dbo].[FrequentFiyerCard] ([FFC_Number], [Miles], [Meal_Code], [Ci_Customer]) VALUES (4001, 50000, N'VEG', 1001)
INSERT [dbo].[FrequentFiyerCard] ([FFC_Number], [Miles], [Meal_Code], [Ci_Customer]) VALUES (4002, 35000, N'NON', 1002)
INSERT [dbo].[FrequentFiyerCard] ([FFC_Number], [Miles], [Meal_Code], [Ci_Customer]) VALUES (4003, 20000, N'VEG', 1003)
GO
INSERT [dbo].[Pasaport] ([Pasoport_Number], [Country_of_issue], [expiration_date], [Issue_Date], [Ci_Custumer]) VALUES (5001, 1, CAST(N'2030-05-15' AS Date), CAST(N'2020-05-15' AS Date), 1001)
INSERT [dbo].[Pasaport] ([Pasoport_Number], [Country_of_issue], [expiration_date], [Issue_Date], [Ci_Custumer]) VALUES (5002, 2, CAST(N'2031-09-22' AS Date), CAST(N'2021-09-22' AS Date), 1002)
INSERT [dbo].[Pasaport] ([Pasoport_Number], [Country_of_issue], [expiration_date], [Issue_Date], [Ci_Custumer]) VALUES (5003, 3, CAST(N'2032-12-10' AS Date), CAST(N'2022-12-10' AS Date), 1003)
GO
SET IDENTITY_INSERT [dbo].[PiecesOfLuggage] ON 

INSERT [dbo].[PiecesOfLuggage] ([Number], [Weightt], [Id_Coupon]) VALUES (1, CAST(24 AS Decimal(18, 0)), 1)
INSERT [dbo].[PiecesOfLuggage] ([Number], [Weightt], [Id_Coupon]) VALUES (2, CAST(18 AS Decimal(18, 0)), 2)
INSERT [dbo].[PiecesOfLuggage] ([Number], [Weightt], [Id_Coupon]) VALUES (3, CAST(25 AS Decimal(18, 0)), 3)
SET IDENTITY_INSERT [dbo].[PiecesOfLuggage] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaneModel] ON 

INSERT [dbo].[PlaneModel] ([Id], [Descriptionn], [Graphic]) VALUES (1, N'Boeing 747', N'boeing747.png')
INSERT [dbo].[PlaneModel] ([Id], [Descriptionn], [Graphic]) VALUES (2, N'Airbus A320', N'airbusA320.png')
INSERT [dbo].[PlaneModel] ([Id], [Descriptionn], [Graphic]) VALUES (3, N'Boeing 737', N'boeing737.png')
SET IDENTITY_INSERT [dbo].[PlaneModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Id], [Size], [Number], [Locationn], [Id_PlaneModel]) VALUES (1, 32, 1, N'Window', 1)
INSERT [dbo].[Seat] ([Id], [Size], [Number], [Locationn], [Id_PlaneModel]) VALUES (2, 32, 2, N'Aisle', 1)
INSERT [dbo].[Seat] ([Id], [Size], [Number], [Locationn], [Id_PlaneModel]) VALUES (3, 32, 3, N'Window', 2)
SET IDENTITY_INSERT [dbo].[Seat] OFF
GO
INSERT [dbo].[Ticket] ([Ticketing_Code], [Number], [Ci_Customer]) VALUES (7001, 1001, 1001)
INSERT [dbo].[Ticket] ([Ticketing_Code], [Number], [Ci_Customer]) VALUES (7002, 1002, 1002)
INSERT [dbo].[Ticket] ([Ticketing_Code], [Number], [Ci_Customer]) VALUES (7003, 1003, 1003)
GO
ALTER TABLE [dbo].[Airplane]  WITH CHECK ADD FOREIGN KEY([Id_PlaneModel])
REFERENCES [dbo].[PlaneModel] ([Id])
GO
ALTER TABLE [dbo].[Airport]  WITH CHECK ADD FOREIGN KEY([Id_City])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[AvailableSeat]  WITH CHECK ADD FOREIGN KEY([Id_Fligth])
REFERENCES [dbo].[Flight] ([Id])
GO
ALTER TABLE [dbo].[AvailableSeat]  WITH CHECK ADD FOREIGN KEY([Id_Seat])
REFERENCES [dbo].[Seat] ([Id])
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD FOREIGN KEY([Id_Country])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD FOREIGN KEY([Id_Available])
REFERENCES [dbo].[AvailableSeat] ([Id])
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD FOREIGN KEY([Id_Flight])
REFERENCES [dbo].[Flight] ([Id])
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD FOREIGN KEY([Id_Ticket])
REFERENCES [dbo].[Ticket] ([Ticketing_Code])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([Id_Category])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Flight]  WITH CHECK ADD FOREIGN KEY([Id_FlightNumber])
REFERENCES [dbo].[FlightNumber] ([Id])
GO
ALTER TABLE [dbo].[FlightNumber]  WITH CHECK ADD FOREIGN KEY([Id_Goal])
REFERENCES [dbo].[Airport] ([Id])
GO
ALTER TABLE [dbo].[FlightNumber]  WITH CHECK ADD FOREIGN KEY([Id_Start])
REFERENCES [dbo].[Airport] ([Id])
GO
ALTER TABLE [dbo].[FrequentFiyerCard]  WITH CHECK ADD FOREIGN KEY([Ci_Customer])
REFERENCES [dbo].[Customer] ([Ci])
GO
ALTER TABLE [dbo].[Pasaport]  WITH CHECK ADD FOREIGN KEY([Ci_Custumer])
REFERENCES [dbo].[Customer] ([Ci])
GO
ALTER TABLE [dbo].[PiecesOfLuggage]  WITH CHECK ADD FOREIGN KEY([Id_Coupon])
REFERENCES [dbo].[Coupon] ([Id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Id_PlaneModel])
REFERENCES [dbo].[PlaneModel] ([Id])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([Ci_Customer])
REFERENCES [dbo].[Customer] ([Ci])
GO
USE [master]
GO
